/* Base-Flask */

html {
    position: relative;
    min-height: 100%;
}

#main a:visited {
    color: revert;
}

body {
    margin-bottom: 150px;
}

img {
    max-width: 100%;
    height: auto;
}

#footer {
    position: absolute;
    bottom: 0;
    padding-top: 50px;
    height: 150px;
}

/* Overrides */
#main {
    margin-top: 50px;
}

#pageless-image {
  width: 400px;
  max-width: 90%;
  margin: 20px auto;
  display: block;
}
